.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 1.5vw;
}

.navbar-link {
    text-decoration: none;
    color: cadetblue;
}

.navbar-title-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar-title {
    font-size: 1.5rem;
}

.navbar-title-gray {
    color: #6c6868;
}